body {
	font-family: "Helvetica Neue";
}
h1 {
	color: #25649e;
}

li {
	font-size: 20px;
}

#ago {
	font-size: 12px;
}
.gray {
	color: #7f8387;
}

.userName {
	color:blue;
	font-weight: :bold;
	font-size: 20px;
}

#timeLineHeader {
	font-style: italic;
	color: orange;
}
